<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
    <i class="icon-bell"></i>
    <span class="badge badge-default">{{notificationCount || 0}}</span>
</a>
<ul class="dropdown-menu">
    <li class="external">
        <h3>You have 
            <strong>{{notificationCount || 0}}</strong> notifications</h3>
        <a ui-sref="notifications">view all</a>
    </li>
    <li>
        <ul class="dropdown-menu-list scroller" style="height: 250px;" data-handle-color="#637283">
            <li ng-if="notifications.length === 0">
                <div class="no-notification-panel">
                    <i class="fa fa-bell-o"></i>
                    <span>No Notifications</span>
                    <span>We will notify you, when new notification comes</span>
                </div>
            </li>

            <li ng-repeat="notification in notifications">
                <a ng-click="goToNotificationUrl(notification)">
                    <span class="time">{{notification.created_date | date : 'shortTime'}}</span>
                    <span class="details">
                        <span class="label label-sm label-icon label-success">
                            <i class="fa fa-plus"></i>
                        </span> {{notification.description | limitTo : 15}}
                        <span ng-show="notification.description.length > 15">...</span>
                    </span>
                </a>
            </li>
        </ul>
    </li>
</ul>
