.form-group.form-md-line-input .help-block{opacity: 1; }
multiselect .btn-group.open>.dropdown-menu{max-height: 200px; overflow: auto;}
multiselect a.item-selected {
    background-color: #32c5d2 !important;
    color: #ffffff !important;
}
multiselect .dropdown-menu>li>a>[class*=" glyphicon-"], .dropdown-menu>li>a>[class^=glyphicon-] {color: #ffffff !important;}
.page-header .page-header-top .top-menu .navbar-nav>li.dropdown-separator { padding-right: 20px; }
.no-notification {
	text-align: center;
}
.no-notification * {
	display: block;

}
.no-notification span {
	font-size: 16px;
    font-style: italic;
}
.no-notification i {
  font-size: 100px;
  color: #444d58;
  height: 70px;
    margin-top: 160px;
}
.no-notification-panel {
  color: #fff;
  text-align: center;
  margin-top: 73px;
  padding: 0 15px;
}
.no-notification-panel i {
  display: block !important;
  margin: auto;
  font-size: 50px;
  height: 50px;
  color: rgba(239, 239, 239, 0.67);
}